body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #212830;
}
.container {
    width: 361px;
    height: 533px;
}
.popup-overlay{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.7)
}

.popup {
    width: 300px;
    height:auto;
    background: #2A313C;
    border-radius: 10px;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
}

.popup-header {
    text-align: center;
    padding: 20px 0;
}

.popup-header h2 {
    font-size: 24px;
    font-weight: 700;
    color: #F5F5F5;
}

.popup-header hr {
    border: none;
    height: 2px;
    background-color: rgba(221, 226, 229, 0.3);
    width: 100%;
}


.popup-body p {
    text-align: center;
    font-size: 24px;
    color: #F5F5F5;
    margin-bottom: 20px;
}

.pin-input {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
}

.pin-input input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: #F5F5F5;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    border-radius: 8px;
    background-color: transparent;
    outline: none;
}

.pin-input input::placeholder {
    color: #ABAFB1;
}

.popup-footer {
    padding: 20px;
    text-align: center;
}

#check-button, #ok-button{
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    color: #F5F5F5;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.error-message {
    font-size: 20px;
    color: #FF5151;
    margin-left: 50px;
    display: none;
}

.popup-overlay-balance {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(33, 40, 48, 0.7);
        display: none;

}
.popup-balance {
    width: 300px;
    height: auto;
    background: #2A313C;
    border-radius: 10px;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
}
.popup-balance .popup-body {
    margin-top: 80px;
}