body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #212830;
}
.container {
    width: 361px;
    height: 533px;
}
.popup-overlay-request {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.7);

}
.popup-request {
    width: 300px;
    height: auto;
    background: #2A313C;
    border-radius: 10px;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
   
}

.popup-body p {
    font-size: 19px;
    color: #F5F5F5;
    margin-bottom: 20px;
    margin-left: 20px;
}

.pin-input input {
    width: calc(100% - 80px);
    margin: 30px 0 0 30px;
    height: 50px;
    font-size: 20px;
    color: #F5F5F5;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    padding-left: 10px;
    
}

.pin-input input::placeholder {
    color: #ABAFB1;
}

.popup-footer {
    padding: 20px;
    text-align: center;
}

#ok-button, #enter-button{
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    color: #F5F5F5;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}
.error-message {
    color: #FF5151;
    margin-left: 50px;
    display: none;
    margin-top: 15px;
    font-size: 20px;
}
.popup-overlay-response {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 40, 48, 0.7);
    display: none;

}
.popup-response {
    width: 300px;
    height: auto;
    background: #2A313C;
    border-radius: 10px;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    position: relative;
   
}
.response {
    margin-top: 70px;
}

.popup-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2A313C;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.6px solid rgba(221, 226, 229, 0.3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

.popup-icon .icon {
    font-size: 24px;
    color: #F5F5F5;
    padding: 2px 5px;
    border-radius: 10px;
    border: 0.6px solid rgba(255, 255, 255, 0.7);
}

