/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
     
}

/* Container for the popup content */
.Changepin-container {
     
    width: 316px;
    height: 523px;
    margin: 5px;
    background-color: #212830;
    border: 0.6px solid rgba(221, 226, 229, 0.5)
}

 
.logoimage{
    width: 128px;
    height: 128px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.logoimage img{
    width: 100%;
    height: 100%;
}