@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #212830;
}

.container{
    width: 361px;
    height: 533px;
    padding: 30px;
}

.getstarted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

/* .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
    margin-top: 3rem;
}
.logo .halfLogo{
    width: 80%;
}
.logo .fullLogo{
    width: 90%;
} */

.getstartedBTN{
    border: 0.6px solid rgba(217, 217, 217, 0.3);
    border-radius: 15px;
    padding: 1rem 0rem;
    background-color: #2A313C;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    color: #F5F5F5;
    margin-top: 2rem;
}

.getstartedBTN:hover{
    background-color: #212830;
    transition: background-color 0.3s ease-in-out;
}

.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 2rem;   
}
.greetings{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
    color: #F5F5F5;
}
.greetings p{
    font-weight: bold;
    font-size: 1.15rem;
}
.greetings span{
    color: #D9D9D9;
    font-size: 0.875rem;
}

.AuthFormStyle{
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    text-align: center;
}

.AuthFormStyle.signInForm{
    gap: 1.5rem;
}

.AuthFormStyle .FormInput, #username,
#selectProvider{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #2A313C;
    border: 0.6px solid rgba(217, 217, 217, 0.3);
    border-radius: 15px;
    padding-inline: 1rem;
}

.FormInput input, select{
    flex: 1;
    padding-block: 1rem;
    background-color: transparent !important;
    outline: none;
    border: none !important;
    color: #F5F5F5;
    font-size: 0.9rem;
}
.FormInput input::placeholder{
    color: #ABAFB1;
    font-family: "Roboto", sans-serif;
}
.InputNum{
    margin-left: -4px;
}
#NumberPrefix{
    color: #ABAFB1;
    font-size: 0.9rem;
}
.hide-showPIN{
    cursor: pointer;
}

#authButton{
    border: 0.6px solid rgba(217, 217, 217, 0.3);
    border-radius: 15px;
    padding-block: 1rem;
    background-color: #2A313C;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    color: #F5F5F5;
}
#authButton:hover{
    background-color: #212830;
    transition: background-color 0.3s ease-in-out;
}
#authSwitch{
    color: #8B8D97;
    font-size: 0.9rem;
    margin-top: 1.3rem;
}

#switchForm{
    color: #5570F1;
}
#switchForm:hover{
    color: #3f5df3;
    transition: color, 0.3s ease-in-out;
    text-decoration: underline;
}   

/* select your provider section */
select option{
    background-color: #2A313C;
}

#providerPrefix{
    color: #ABAFB1;
    font-size: 0.9rem;
    margin-left: -8px;
}

#username,
#selectProvider, #providerPrefix{
    display: none;
}
