@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container {
    width: min(90%, 1110px);
    margin-inline: auto;
    
}


/* *About us style */
.about-us {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 0.5rem;
    border-bottom: 1px solid #000;
}
.about-us h2 {
    font-size: 2.7rem;
    font-weight: 700;
}
.about-us ul {
    display: flex;
    gap: 0.7rem;
    list-style: none;
    font-size: 1.2rem;
    align-items: center;
    font-size: 0.9rem;

}
.about-us a,li {
    color: #555555b0;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}
.about-us a:hover{
    color: #333;
    
}
.dotted {
   width: 2px;
   height: 2px;
   padding: 3px;
   background-color: #000;
   border-radius: 20px;
    
}
/* *About Raveli style  */
.about-raveli{
    padding-top: 100px;

}
.img-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7rem;
    margin-bottom: 45px;
}
.images {
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
    background: url('/web/assets/man.jpg') center / cover no-repeat;
    
}
.man-pic{
    border-radius: inherit;
    height: 100%;
}
.star{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 150px;
    height: 150px;
    /* font-size: 2rem; */
}
.mobile-dev{
    width: 200px;
    height: 400px;
    position: absolute;
    bottom: -20px;
    right: -80px;
}
.mobile-dev img{
    width: 100%;
    height: 100%;
}

.sub-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.sub-content h4{
    color: #737373e2;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.sub-content h2{
    font-weight: bold;
    font-size: 2rem;
}
.sub-content p {
    color: #555;
}
.boxs-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
    margin-top: 40px;
}
.box{
    background-color: #E7E8FE;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.box i {
    color: #fff;
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    font-size: 1.1rem;
}
.black-box{
    background-color: #000;
    color: #fff;
    border: 1px solid #ffffff78;
}
.black-box i {
    background-color: #fff;
    color: #000;
}
.yellow-box{
    background-color: #F1FF9D;
    grid-column: 1/-1;
    padding: 30px;
}
.counters-div {
    padding-block: 3rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    text-align: center;
   
}
.counter-box{
    border-right: 1px solid #555555b0;
    padding-inline: 2rem;
}
.counter-box:nth-child(4){
    border-right: none;
}
.counter-box h3{
    font-size: 2.5rem;
   margin-bottom: 10px;
}
.counter-box p {
    color: #5e5d5d99;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
}
/* end about sectio styles */

/* start team styles */


.team-section {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    padding-block: 100px;
    align-items: center;
}
.team-section h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}
.team-container {
    width: 100%;
    display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-content: center;
   gap: 1rem;
    
}
.team-member {
    background: #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 230px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.team-member .member-info{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
}
.team-member h3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
}
.team-member .member-info i {
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.team-member a:hover {
    text-decoration: underline;
}

/* FOOTER */

.footer {
    background-color: rgb(10, 20, 51);
    color: #fff;
    width: 100%;
    /* height: 100vh; */
    padding-block: 3rem;
}

.footer .quad {
   display: flex;
   justify-content: space-around;
   /* align-items: center; */
   flex-wrap: wrap;
   gap: 2rem;
    
}
.compress img{
    width: 150px;
}

.foot-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.foot-card p{
    width: 80%;
    font-size: 1rem;
    color: cadetblue;
    cursor: pointer;
}
.foot-card .icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.foot-card .icons i{
    font-size: 1.2rem;
    
}
.foot-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: cadetblue;
    cursor: pointer;
}
.foot-text a:hover, .foot-text  span:hover, .foot-card p:hover{
    color:#37c1f0;
}

.footer .download {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block: 4rem;
    gap: 1rem;

}

.footer .download h4 {
    font-size: 1.5rem;
}

.footer .download p {
    color: cadetblue;
    text-align: center;
    padding-inline: 10px;
}
.footer .download p:hover{
    color: #37c1f0;
}

.footer .download .app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer .download .app .download-card {
    background-color: #06174a;
    width: 50%;

}
.footer .download .app .download-card:hover{
    background-color: #051b5e;
}

.footer .addition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer .addition .rules {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer .addition .rules span,a {
    /* color: rgb(255, 255, 227); */
    color: #5f9ea0;
    cursor: pointer;
}

.footer .addition .rules span:hover,a:hover {
    color: rgb(55, 193, 240);
}




/* * Tablet device */

@media only screen and (min-width: 769px) and  (max-width: 1024px) {
    .img-content{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .images{
        height: 500px;
        order: 2;
    }
    .content {
        order: 1;
    }
    .star{
        width: 200px;
        height: 200px;
    }
    .mobile-dev {
        width: 200px;
        height: 350px;
        bottom: -25px;
        right: -10px;
    }
}
@media (max-width:769px) {
    .about-us h2 {
        font-size: 2rem;
    }
    .about-raveli{
        padding-inline: 10px;
    }
    .img-content{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .boxs-content{
        grid-template-columns: 1fr;
    }
    .images{
        height: 400px;
        order: 2;
    }
    .content {
        order: 1;
    }
    .star{
        width: 120px;
        height: 120px;
    }
    .mobile-dev {
        width: 120px;
        height: 250px;
        bottom: -15px;
        right: -15px;
    }
    .counters-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .counter-box p{
        padding-bottom: 8px;
    }
    .counter-box{
        border-right: 0;
        border-bottom: 1px solid #000;
        padding: 2rem;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    .counter-box:nth-child(4){
        border-bottom: none;
    }

    .team-container{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }

    #sp {
        width: 90%;
    }

    .footer {
        width: 100%;
    }
    .footer .quad {
        flex-direction: column;
    }
   
    .footer .download .app .download-card {
       
        padding: 8px;
     }
     .footer .download .app .download-card .card-info span {
        font-size: 10px;

     }
     .footer .addition{
        flex-direction: column;
        gap: 1rem;
     }
}
@media (max-width:480px) {
    .team-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    #sp {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    #apple {
        width: 43%;

    }


    

   
}