@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team {
    background-color: rgba(255, 255, 227 ,0.6);
    margin: 20px 0;
    height: 110vh;
}


.info {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    padding: 10px;

}

.info .tm {
    margin: outo;
    margin-top: 5%;
    text-align: center;
    color: gray;
    font-size: 20px;

}

.info .meet {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.info .lorem {
    font-size: 1rem;
    text-align: center;
    color: gray;

}

.card {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 7px;
    margin: 60px;
}

.card .profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card .profile-card .photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0;
}

.card .profile-card .photo {
    width: 270px;
    box-shadow: 10px 10px;
    text-align: center;
    border-radius: 10px;

}

.card .profile-card .des {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.card .profile-card .des p {
    color: gray;
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: rgb(10, 20, 51);
    color: rgb(255, 255, 227);
    width: 100%;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.footer .quad {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.footer .quad .company {
    margin-top: 30px;
    margin-left: 60px;
}

.footer .quad .company .logo img {
    width: 50%;
    height: auto;
    margin: 20px;
    
}

.footer .quad .company p {
    padding: 20px;
    color: cadetblue;
}

.footer .quad .company .icons {
    padding: 20px;

}

.footer .quad .company .icons i {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(55, 193, 240);
    font-size: 1.5rem;
}

.footer .quad .company .icons i:hover {
    color: #A6979C;
}

.footer .quad .contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer .quad .contact h4 {
    margin: 10px;
    font-size: 1.3rem;
}

.footer .quad .contact a {
    color: cadetblue;
    margin: 10px;
    cursor: pointer;
}

.footer .quad .explore {
    margin-top: 30px;
    display: flex;
    
}

.footer .quad .explore h4 {
    font-size: 1.3rem;
}

.footer .quad .support {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .quad .support h4 {
    font-size: 1.3rem;
}

.footer .quad .support span {
    display: flex;
    color: cadetblue;
    cursor: pointer;
}
.footer .quad .support span:hover{
    color: rgb(55, 193, 240);
}


.footer .download {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-bottom: 0;
}
.footer .download h4, p{
    padding: 10px;
}
.footer .download h4{
    font-size: 1.5rem;
}
.footer .download p{
    color: cadetblue;
}

.footer .download .app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .download img {
    width: 10%;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.footer .download img:hover {
    transition:  1s;
}

.footer .addition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
    margin: 20px;
}

.footer .addition span{
    color: rgb(55, 193, 240);
    cursor: pointer;
}
.footer .addition .rules{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 10px;
}
.footer .addition .rules span{
    color: rgb(255, 255, 227);
    color: cadetblue;
    cursor: pointer;
}

.footer .addition .rules span:hover {
    color: rgb(55, 193, 240);
}