*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}
.conatiner{
    width: min(1200px, 90%);
    margin-inline: auto;
}
header{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
