@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Space Grotesk", sans-serif;
}

img{
    width: 100%;
}
.container{
    width: min(1110px, 90%);
    margin:0 auto;
}
header{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-bottom: 1px solid #000;
}
.logo img{
    width: 150px;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav-links a{
    color: #777;
    font-size: 1.2rem;
}

.nav-links a:hover{
    color:#222061;
}

.humbergur{
    display: none;
}

@media (max-width:768px){
    .menu{
     flex-direction: column;
     /* border:none; */
     align-items: self-start;
     padding-inline:0 ;
     padding-top: 1.5rem;
     height: 100%;
    }
    .logo{
      height: 100%;
      display: flex;
      justify-content: center;
    }
    .nav-links{
        width: 100%;
        flex-direction: column;
        background-color: #f7f7f7;
        margin-top: .8rem;
        padding: 10px;
        transform: translateY(0%);
        transition: transform 0.5s ;
        z-index: 11;
    }
    .nav-links[data-visible="false"]{
        transform: translateY(-1000%);
    }
    .humbergur{
        display: block;
        position: absolute;
        right: 5%;
    }
    .humbergur i{
        font-size: 1.8rem;
        color: #222061;
    }
    .humbergur i[data-visible="true"]{
        display: block;
    }
    .humbergur i[data-visible="false"]{
        display: none;
      }
}