/* start hero section style */
.hero-section {
  height: calc(100vh - 4rem);
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8)),
  url("https://cdn.corporatefinanceinstitute.com/assets/online-payment-companies.jpeg")center / cover no-repeat;
  color: #fff;
    
  /* padding:20px ; */
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero-content-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.hero-content-left h4 {
  font-size: 2rem;
}
.hero-content-left h1 {
  font-size: 4rem;
  /* font-weight: 500; */
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.hero-buttons .btn-get {
  background-color: #222061;
  color: #fff;
}
.hero-buttons .btn-call {
  background-color: transparent;
  color: #fff;
  border: 2px solid #222061;
}
.btn:hover {
  background-color: #37c1f0;
  color: #fff;
}
.active-users {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.active-users {
  display: flex;
  align-items: center;
}
.active-users .users-img img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.activeUsers-number {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.activeUsers-number h4 {
  font-size: 1.2rem;
}
.activeUsers-number p {
  font-size: 1rem;
  color: #777;
}
.hero-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-right {
  width: 100%;
}
.hero-content-right img {
  width: 300px;
  height: 100%;
}
/* end hero section style */

/* start trusted-parteners section style */
.trusted-parteners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.trusted-parteners h4{
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.paretners-con{
    width: 100%;
    overflow: hidden; /* Hide overflow for smooth sliding */
    position: relative;
}
.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out; /* Smooth sliding animation */
    gap: 1rem;
  }
  
  .slider img {
    width: 120px; /* Adjust the width of each image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 20px; /* Add spacing between images */
    flex-shrink: 0; /* Prevent images from shrinking */
  }
  
  .partners-con:hover .slider {
    animation-play-state: paused; /* Pause on hover */
  }

/* end trusted-parteners section style */

/* start mindful-design styley */
.mindful-design{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top:5rem;
    gap: 2rem;
}
.mindeful-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.mindeful-left h4{
    color: #777;
    font-size: 2rem;
    font-weight: 500;
}
.mindeful-left h2{
    font-size: 2.5rem;
}

.download-card{
    display: flex;
    align-items: center;
    background-color: #222061;
    padding: 8px 12px;
    color: #fff;
    gap: 10px;
    border-radius: 8px;
}
.download-card img {
    width: 50px;
    border-radius: 50%;
}
.download-card .card-info{
    display: flex;
    flex-direction: column;
}
.mindeful-right{
    width: 50%;
    background-color: #222061;
    padding: 8px;
    border-radius:5px;
}
.mindeful-right img{
    width: 100%;
    height: 500px;
}
/* end mindful-design styley */

/* start features section style */
#features{
  width:100%;
  margin-top: 5rem;

}
 .container .section-title{
  width:100%;
  display:flex;
  gap:10px;
  flex-direction:column;
  align-items:center;
  margin-bottom:2rem;
}
.section-title h1{
  text-transform:uppercase;
  color:#37c1f0;
}
.section-title h3{
   color:#222061;
}
.features {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.features .feature {
  width: 500px;
  height: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 0px #37c1f0;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 1rem;
  border: 2px solid #37c1f0;
}
.feature .icon-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #222061;
}
.feature .icon-title i {
  font-size: 2rem;
}
.feature p {
  color: #777;
}
.feature a {
  color: #222061;
  font-weight: bold;
}
.feature a:hover {
  color: #37c1f0;
}

/* end features section style */

/*  Start Why chooose us style */
.container .why-choose-us{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
  margin-block:4rem;
 }
 .why-choose-us .title-link{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
 }
 .title-link .text{
   display:flex;
  flex-direction:column;
  gap:1rem;
 }
 .text h1{
  color:#37c1f0;
  text-transform:uppercase;
 }
 .text h2{
  color: #222061;
 }
 .title-link a{
  color:#fff;
  background-color:#222061;
  padding:1rem 3rem;
  border-radius:10px;
  font-size:1.25rem;
  transition:0.5s;
 }
 .title-link a:hover{
  background-color:#37c1f0;
 }
 .why-choose-us .choices{
  width:100%;
  display:flex;
  gap:2rem;
 }
.choices .choice{
  width:25%;
  display:flex;
  flex-direction:column;
  gap:1rem;
  background-color:#fff;
  border:1px solid #222061;
  border-radius:10px;
  padding:1rem;
  box-shadow: 0px 8px 24px  rgba(149, 157, 165, 0.2);
}
.choices .choice:nth-child(1),
.choices .choice:nth-child(3) {
  background-color:rgba(107, 217, 249, 0.5);
 }
 .choice .icon{
  width:80px;
  height:80px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#222061;
  color:#37c1f0;
  border-radius:50%;
  font-size:3rem;
}
.choice h3{
  color:#222061;
}
.choice p{
  color:#777;
}
/*  end Why chooose us style */

/* start cta section style */
#cta{
  width:100%;
  height:500px;
  background-color:#37c1f0;
  display:flex;
}
.container .cta{
  width:100%;
  height:auto;
  display:flex;
  gap:4rem;
  align-items:center;
  justify-content:center;
}
 .cta-image{
  width:50%;
  height:500px;
   background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
.cta .cta-content{
  width:50%;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
 }
 .cta .cta-content h2{
  text-transform:uppercase;
  color:#f5f5f5;
 }
 .cta .cta-content p{
  color:#222061;
  font-size:1.5rem;
 }
 .cta .cta-content a{
  width:200px;
  background-color:#222061;
  padding:1rem;;
  color:#fff;
  font-size:1.25rem;
  text-align:center;
  border-radius:8px;
  transition:0.5s;
 }
 .cta .cta-content a:hover{
  background-color:#222088;

 }
 /*  Faq section style */
 .container .faq-section-container{
  width:100%;
  height:100vh;
  display:flex;
   align-items:center;
   gap:4rem;
  margin-block:40px;
 }
.image-container{
  width:50%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#222061;
  border-radius:20px;
}
.faq-image{
  width:500px;
  height:500px;
}
.faq-image img{
  width:100%;
  height:100%;
}
.faqs {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.faqs h2 {
  text-align: center;
  margin-bottom: 20px;
}
.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
.faq-question {
  background: #37c1f0;
  color: #222061;
  font-size: 16px;
  padding: 15px;
  text-align: left;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-answer {
  display: none;
  padding: 15px;
  background: #fff;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.toggle-icon {
  font-size: 18px;
  transition: transform 0.3s;
}
/* end cta section style */
@media (max-width: 768px) {
  .hero-content {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  .hero-content-left {
    gap: 0.8rem;
  }
  .hero-content-left h4 {
    font-size: 1rem;
  }
  .hero-content-left h1 {
    font-size: 2.5rem;
  }
  .hero-content-right img {
    width: 80%;
    height: 300px;
  }
  .slider img{
    margin: 0;
  }

  .mindful-design{
    flex-direction: column;
  }
  .mindeful-left ,.mindeful-right{
    width: 100%;
  }
  /*  Why choose us responsive */
  .why-choose-us .title-link{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items:flex-start;
   }
   .why-choose-us .choices{
    width:100%;
    display:flex;
    flex-direction:column;
     }
     .choices .choice{
      width:100%;
    }
    /*  Cta responsive */
    #cta{
      width:100%;
      height:auto;
       
    }
    .container .cta{
      width:100%;
      height:auto;
      flex-direction:column;
      gap:2rem;
    }
     .cta-image{
      width:100%;
      height:500px;
    }
    .cta .cta-content{
      width:100%;
     }
}
