
/* start hero section style */
.hero-section {
  margin-top: 1rem;
  height:100vh;    
  padding-block:20px ;
  display: flex;
  justify-content: start;
    align-items: center;
}
.hero-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 3rem;
}
.hero-content-left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.hero-content-left h4 {
  font-size: 1.5rem;
}
.hero-content-left h1 {
  font-size: 3rem;
  /* font-weight: 500; */
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.hero-buttons .btn-get {
  background-color: #222061;
  color: #fff;
}
.hero-buttons .btn-call {
  background-color: transparent;
  color: #000;
  border: 2px solid #222061;
}
.btn:hover {
  background-color: #222070;
  color: #fff;
}
.active-users {
  display: flex;
  align-items: center;
}
.active-users .users-img img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  position: relative;
}
.active-users .users-img .user2{
  left:-10%
}
.active-users .users-img .user3{
  left:-20%
}
.active-users .users-img .user4{
  left:-30%
}
.activeUsers-number {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: 5px; */
}
.activeUsers-number h4 {
  font-size: 1.2rem;
}
.activeUsers-number p {
  font-size: 1rem;
  color: #777;
}
.hero-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-right {
  width: 50%;
  background-color: #222061;
  border-radius: 10px;
  height: 600px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero-content-right img {
  padding-top: 40px;
  width: 70%;
  height: 600px;
}
/* end hero section style */

/* start trusted-parteners section style */
.trusted-parteners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.trusted-parteners h4{
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.paretners-con{
    width: 100%;
    overflow: hidden; /* Hide overflow for smooth sliding */
    position: relative;
}
.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out; /* Smooth sliding animation */
    gap: 1rem;
  }
  
  .slider img {
    width: 120px; /* Adjust the width of each image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 20px; /* Add spacing between images */
    flex-shrink: 0; /* Prevent images from shrinking */
  }
  
  .partners-con:hover .slider {
    animation-play-state: paused; /* Pause on hover */
  }

/* end trusted-parteners section style */

/* start mindful-design styley */
.mindful-design{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-top:5rem; */
    gap: 2rem;
}
.mindeful-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.mindeful-left h4{
    color: #777;
    font-size: 2rem;
    font-weight: 400;
}
.mindeful-left h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.mindeful-left p{
  color: #777;
}

.download-card{
    display: flex;
    align-items: center;
    background-color: #222061;
    padding: 8px 12px;
    color: #fff;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.download-card:hover{
  background-color: #222070;
}
.download-card img {
    width: 50px;
    border-radius: 50%;
}
.download-card .card-info{
    display: flex;
    flex-direction: column;
}
.mindeful-right{
    width: 50%;
    background-color: #222061;
    padding: 8px;
    border-radius:5px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mindeful-right img{
    width: 85%;
    height: 500px;
}
/* end mindful-design styley */

/* start features section style */
#features{
  width:100%;
  margin-top: 10rem;

}
 .container .section-title{
  width:100%;
  display:flex;
  gap:10px;
  flex-direction:column;
  align-items:center;
  margin-bottom:2rem;
}
.section-title h1{
  text-transform:uppercase;
  color:#37c1f0;
}
.section-title h3{
   color:#222061;
}
.features {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.features .feature {
  width: 500px;
  height: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 0px #37c1f0;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 1rem;
  border: 2px solid #37c1f0;
}
.feature .icon-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #222061;
}
.feature .icon-title i {
  font-size: 2rem;
}
.feature p {
  color: #777;
}
.feature a {
  color: #222061;
  font-weight: bold;
}
.feature a:hover {
  color: #37c1f0;
}

/* end features section style */

/*  Start Why chooose us style */
.container .why-choose-us{
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
  margin-block:4rem;
 }
 .why-choose-us .title-link{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
 }
 .title-link .text{
   display:flex;
  flex-direction:column;
  gap:10px;
 }
 .text h1{
  color:#37c1f0;
  text-transform:uppercase;
 }
 .text p{
  font-size:1.25rem;
   color: #222061;
 }
 .title-link a{
  color:#fff;
  background-color:#222061;
  padding:10px 20px;
  border-radius:10px;
  font-size:1.25rem;
  transition:0.5s;
 }
 .title-link a:hover{
  background-color:#37c1f0;
 }
.choices-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
 }

.choice.large {
  grid-column: span 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.choice.large .content{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.choice.large .content p{
  color:#444;
}
.choice.large .content a{
  color:#222061;
  font-weight:bold;
}
.choice.large .content a:hover{
  color:#37c1f0;
}

.widget-image img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.choice {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.choice:nth-child(2) {
  background-color: #37c1f0;

}
.choice:nth-child(3) {
  background-color: #fffbcc;
}

.choice:nth-child(4) {
  background-color: #000;
  color: #fff;
}

.choice:nth-child(5) {
  background-color: #ccffd9;
}

.choice .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/*  end Why chooose us style */

/* start cta section style */
 
.container .cta{
  width:100%;
  height:100vh;
  background-color:#220661;
   display:flex;
  gap:4rem;
  align-items:center;
  justify-content:center;
  border:2px solid #37c1f0;
}
 .cta-image{
  width:50%;
  height:100%;
  background-image: url('https://askproject.net/raveli/wp-content/uploads/sites/130/2023/02/side-view-of-asian-millennial-girl-in-headphones-v-SQ3PSL2.jpg');
  background-repeat:no-repeat;
   background-size: cover;
  background-position: center;
  display:flex;
  align-items:center;
  justify-content:center;
 }
 .cta-image .play-btn{
  background-color:#fff;
  padding: 30px;
  border:1px solid #220661;
  border-radius:50%;
  display:flex;
  align-items:center;
  box-shadow: 4px 2px 0px #000;

 }
 .cta-image .play-btn:hover{
  background-color:#37c1f0;

 }
 .cta-image .play-btn .fa-play{
  font-size:1.5rem;
 }
.cta .cta-content{
  width:50%;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
 }
 .cta .cta-content h2{
  text-transform:uppercase;
  color:#f5f5f5;
 }
 .cta .cta-content p{
  color:#ddd;
  font-size:1.5rem;
 }
 .cta .cta-content a{
  width:200px;
  background-color:#37c1f0;
  padding:1rem;;
  color:#fff;
  font-size:1.25rem;
  text-align:center;
  border-radius:8px;
  transition:0.5s;
 }
 .cta .cta-content a:hover{
  background:transparent;
  border:1px solid #37c1f0;
 
 }
 /* Video popup */
 
 .video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.video-popup .popup-content {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.video-popup iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.video-popup .close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

 /*  Faq section style */
 .container .faq-section-container{
  width:100%;
  height:100vh;
  display:flex;
   align-items:center;
   gap:2rem;
  margin-block:40px;
  padding:40px 0;
 }
.faq-image-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  width:80%;
  height:100%;
  background-color:#222061;
  border:2px solid #37c1f0;
  border-radius:20px;
   position:relative;

}
.faq-image{
  position:absolute;
  left:18%;
   width:auto;
  height:100vh;
}
.faq-image img{
  width:100%;
  height:100%;
}
.faqs {
  width: 100%;
  height:auto;
  display:flex;
  flex-direction:column;
  gap:2rem;
  color:#222061;
}
.faqs h1{
text-transform:uppercase;
color:#37c1f0;
}
.faq-items {
  width:100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #222061;
  box-shadow: 4px 4px 0px #37c1f0;
}
.faq-items .faq-item {
   border-bottom: 1px solid #ddd;
   border-radius: 5px;
   }
.faq-question {
   color: #222061;
   background-color:#fff;
  font-size: 1.25rem;
  padding: 15px;
  text-align: left;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-answer {
  color:#37c1f0;
  display: none;
  padding: 15px;
   font-size: 1.25rem;
  border-top: 1px solid #ddd;
  }
.toggle-icon {
  font-size: 1.25rem;
  transition: 0.5s;
  background-color:#222061;
  padding:8px 10px;
  color:#fff;
  border-radius:50%;
}
/* end cta section style */
@media (max-width: 768px) {
  .hero-section{
    height: 100%;
  }
  .hero-content {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }
  .hero-content-left {
    width: 100%;
    gap: 0.8rem;
  }
  .hero-content-left h4 {
    font-size: 1rem;
  }
  .hero-content-left h1 {
    font-size: 3rem;
  }
  .hero-content-right{
    width: 100%;
  }
  .hero-content-right img {
    width: 100%;
  }
  .trusted-parteners h4{
    font-size: 1.5rem;
  }
  .slider img{
    margin: 0;
  }

  .mindful-design{
    flex-direction: column;
    gap: 5rem;
  }
  .mindeful-left ,.mindeful-right{
    width: 100%;
  }
  .mindeful-right img{
    width: 100%;
  }
  /* Features */
  .features .feature {
    height:auto; 
  }
  /*  Why choose us responsive */
  .why-choose-us .title-link{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items:flex-start;
   }
   .choices-grid {
    grid-template-columns: 1fr;
  }

  .choice.large {
    grid-column: span 1;
    flex-direction: column-reverse;
   }

  .widget-image {
    display: flex;
     flex-wrap: wrap;
    gap:2rem;
    margin-top:20px;
  }

    /*  Cta responsive */
    #cta{
      width:100%;
      height:auto;
       
    }
    .container .cta{
      width:100%;
      height:auto;
      flex-direction:column;
      gap:2rem;
    }
     .cta-image{
      width:100%;
      height:500px;
    }
    .cta .cta-content{
      width:100%;
      padding:20px;
     }
     /* faq */
     .container .faq-section-container{
      width:100%;
      height:auto;
      display:flex;
      flex-direction:column;
        
     }
     .faq-image-container {
      width: 100%;
      height: 500px;
      position: relative;
      margin-top:30px;
    }
    
    .faq-image {
      width: 70%;
      height: 600px;
      margin:0 auto;
    }
    
    .faq-image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    .faqs {
       margin-top:5rem;
    }
   
}
@media(max-width: 992px){
    /* faq */
    .container .faq-section-container{
      width:100%;
      height:auto;
      display:flex;
      flex-direction:column;
        
     }
     .faq-image-container {
      width: 100%;
      height: 70vh;
      position: relative;
      margin-top:30px;
    }
    
    .faq-image {
      width: 50%;
      height: 80vh;
        }
    
    .faq-image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    .faqs {
       margin-top:5rem;
    }
    /* features */
    .features {
      width: 100%;
      height: auto;
    }
    .features .feature {
      width: 300px;
      height: auto;
      
    }
   
}
